<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CrystalReports" version="13.0.5.891" targetFramework="net48" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="150.1576.0" targetFramework="net48" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1576.0" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Types" version="160.1000.6" targetFramework="net48" />
  <package id="RJCodeAdvance.RJControls" version="1.0.0" targetFramework="net48" />
  <package id="System.Data.SqlClient" version="4.8.5" targetFramework="net48" />
  <package id="System.Net.NameResolution" version="4.3.0" targetFramework="net48" />
</packages>